<article class="course-card" *ngIf="course">
  <div class="course-card-header">
    <img [src]="course.icon" [alt]="course.courseTitle" class="course-icon">
    <span *ngIf="course.isNew" class="badge-new">NEW</span>
  </div>
  
  <div class="course-card-body">
    <h3>{{ course.courseTitle }}</h3>
    <p class="course-subtitle">{{ course.courseSubtitle }}</p>
    
    <div class="course-meta">
      <span class="meta-item">
        <strong>{{ course.duration }}</strong>
      </span>
      <span class="meta-item">
        <strong>{{ course.level }}</strong>
      </span>
      <span class="meta-price">${{ course.price }}</span>
    </div>

    <p class="course-description">{{ course.description }}</p>
  </div>

  <div class="course-card-footer">
    <a [routerLink]="['/course', course.id]" class="btn-view-course">
      View Course
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5a.5.5 0 0 0-.5.5z"/>
      </svg>
    </a>
  </div>
</article>
