@import './styles/legacy/reset.css';
@import './styles/legacy/layout.css';
@import './styles/legacy/header.css';
@import './styles/legacy/new-courses.css';
@import './styles/legacy/our-courses.css';
@import './styles/legacy/about.css';
@import './styles/legacy/business.css';
@import './styles/legacy/login.css';
@import './styles/legacy/course-template.css';
@import './styles/legacy/footer.css';
@import './styles/legacy/course-themes.css';
@import './styles/legacy/responsive.css';

app-root {
  display: block;
  min-height: 100vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

